@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand-Bold.ttf);
}

@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand-Light.ttf);
}

@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand-Medium.ttf);
}

@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand-Regular.ttf);
}

@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand-SemiBold.ttf);
}

@font-face {
    font-family: Lato;
    src: url(../fonts/lato.regular.ttf);
}

@font-face {
    font-family: Suprema;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/futura.ttf)
}

@font-face {
    font-family: Suprema;
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/futura_light.ttf)
}

@font-face {
    font-family: Suprema;
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/futura_heavy.ttf)
}

*, *::before, *::after {
    box-sizing: border-box !important;
}

body {
    margin: 0 !important;
    padding: 0 !important;
}

a {
    text-decoration: none;
}

.left-menu {
    font-family: Quicksand !important;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #EBEBEB;
}

.top-left-logo-text {
    padding: 4px 10px;
}

.left-menu-list {
    margin-top: 60px;
}

.left-menu-list>a {
    border: none;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 15px;
    color: #C7C7C7;
}

.left-menu-list>a:hover {
    color: #C7C7C7;
}

.left-menu-list>a:focus {
    color: #C7C7C7;
}

.left-menu-list>a.active {
    background-color: #F0F7FF;
    color: #197BBD;
}

.left-menu-item-icon {
    margin-right: 18px;
}

.left-menu-bottom-box-cloud-logo {
    width: 80px;
    display: block;
    margin: 0 auto;
}

.left-menu-bottom-cloud-logo-text {
    color: #404040;
    text-align: center;
    font-weight: 400;
    font-size: 13px;
}

.bottom-upgrade-button {
    font-size: 15px;
    margin: 0 10px;
    text-align: center;
    display: block;
    margin-top: 20px;
    padding: 15px;
    background-color: #FFC145;
    border-radius: 13px;
    color: #404040;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (max-width: 768px) {
    .header {
        flex-direction: column;
    }
    .header-left-box {
        text-align: center;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .header {
        flex-direction: column;
    }
    .header-left-box {
        text-align: center;
    }
}

.header-title-text {
    font-size: 43px;
    font-family: Suprema;
    font-weight: 600;
}

.header-title-bottom-text {
    font-family: Suprema;
    font-size: 16px;
    /* identical to box height */
    color: #AEAEAE;
}

.header-nofit-icon, .header-message-icon {
    color: #E3E3E3;
    font-size: 20px;
}

.header-notif-box {
    position: relative;
}

.header-notif-new-circle {
    position: absolute;
    background-color: #BB4430;
    height: 8px;
    width: 8px;
    top: 0;
    right: 0;
    border-radius: 50%;
}

@media only screen and (min-width:1200px) {
    .header-right-box {
        padding-top: 50px;
        padding-right: 48px;
    }
}

.header-right-box {
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.person-profile-box {
    display: inline-flex;
}

.header-profile-person-name {
    font-family: Suprema;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #404040;
}

.header-profile-person-info {
    font-family: Suprema;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #AEAEAE;
}

.header-profile-person-image {
    width: 37px;
    height: 36px;
    margin-right: 8px;
}

.body-content {
    padding: 20px;
}

.card {
    background-color: white;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 28px;
}

.secendry{
    padding: 15px 25px 32px 15px;
}

.secendry-goals-text{
    display: inline-block;
    line-height: 25px;
    font-family: Suprema;
    font-weight: 600;
    color: var(--prymeri-text);
    vertical-align: top;
}

.secendry-goals-icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 4px;
}

.secendry-goals-icon-img{
    height: 100%;
}

.secendry-shopping-item{
    padding: 12px 24px;
    display: inline-block;
    height: 168px;
    width: calc(33% - 20px);
}

.secendry-shopping-item-icon{
    height: 30px;
    margin-top: 40px;
    margin-bottom: 6px;
}

.secendry-shopping-item-icon::after{
    height: 100%;
}

.secendry-shopping-item-price{
    font-size: 24px;
    font-family: Quicksand;
    font-weight: 600;
    color: var(--black-text);
    line-height: 30px;
}

.secendry-shopping-item-date{
    font-size: 14px;
    font-family: Suprema;
    color: var(--gray-text);
}

.secendry-shopping-item-name{
    line-height: 25px;
    font-family: Suprema;
    color: var(--prymeri-text);
    font-size: 20px;
    font-weight: 400;
}

.secendry-shopping-2{
    margin-left: 14px;
    margin-right: 14px;
}

.secendry-outcome-statistics{
    margin-top: 48px;
    font-family: Suprema;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: var(--prymeri-text);
}

.secendry-statistics{
    margin: 12px 0px;
    width: 100%;
}

.secendry-statistic-icon-1,.secendry-statistic-icon-2,.secendry-statistic-icon-3{
    height: 42px;
    width: 42px;
    text-align: center;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    margin-top: 6px;
    display: inline-block;
}

.secendry-statistic-icon-1{
    background-color: #FFEADA;
}

.secendry-statistic-icon-2{
    background-color: #DDF9E4;
}

.secendry-statistic-icon-3{
    background-color: #E4F0FF;
}

.secendry-statistic-chart-text{
    display: inline-block;
    width: calc(100% - 157px);
    margin: 0px 15px;
    height: 100%;
}

.secendry-statistic-persent{
    display: inline-block;
    line-height: 30px;
    height: 68px;
    font-family: Quicksand;
    font-weight: 600;
    font-size: 24px;
    vertical-align: top;
    color: var(--black-text);
}

.secendry-statistic-chart{
    position: relative;
    width: 100%;
    height: 10px;
}

.secendry-statistic-chart-container{
    position: absolute;
    width: 100%;
    height: 10px;
    background-color: #F1F1F1;
    top:0;
    left: 0;
    border-radius: 13px;
    margin: 0px 4px;
}

.secendry-statistic-chart-filler-1,.secendry-statistic-chart-filler-2,.secendry-statistic-chart-filler-3{
    position: absolute;
    height: 10px;
    top:0;
    left: 0;
    border-radius: 10px;
}

.secendry-statistic-chart-filler-1{
    width: 52%;
    background: linear-gradient(270deg, #FCAE73 0%, #F79042 99.18%);
}

.secendry-statistic-chart-filler-2{
    width: 21%;
    background: linear-gradient(90deg, #209D43 0%, #2BC255 100%);
}

.secendry-statistic-chart-filler-3{
    width: 74%;
    background: #70A6E8;
}

.secendry-statistic-text{
    font-family: Suprema;
    font-size: 14px;
    line-height: 17px;
    margin-top: 4px;
}

.secendry-newtrans-title{
    font-family: Suprema;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: var(--prymeri-text);
    margin: 6px 2px;
}

.secendry-newtrans{
    display: inline-block;
    padding: 12px 6px 12px 12px;
    margin-bottom: 12px;
}

.secendry-newtrans-characters{
    margin: 2px 0 16px;
}

.secendry-newtrans-character{
    display: inline-block;
    margin-right: 9px;
    text-align: center;
}

.secendry-newtrans-character-img{
    width: 42px;
    height: 42px;
}

.secendry-newtrans-character-plus{
    margin-right: 0px;
}

.secendry-newtrans-character-name{
    margin-top: 2px;
    font-family: Suprema;
    font-size: 12px;
    line-height: 15px;
    color: var(--prymeri-text);
}

.secendry-newtrans-character-img6{
    padding: 8px;
}

.secendry-newtrans-transfering-input{
    width: 175px;
    padding: 6px 10px;
    border: 1px solid #197BBD;
    border-radius: 8px;
    display: inline-block;
}

.secendry-newtrans-transfering-input-fild{
    border: 0;
    font-family: Quicksand;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    display: inline-block;
    width: calc(100% - 16px);
}

.secendry-newtrans-transfering-input-fild:focus{
    outline: none;
}

.secendry-newtrans-transfering-input-dol{
    display: inline-block;
    font-family: Quicksand;
    font-weight: 300;
    font-size: 20px;
}

.secendry-newtrans-transfering-btn{
    display: inline-block;
    background: #FFC145;
    border-radius: 14px;
    padding: 12px 14px;
    vertical-align: top;
    margin-top: 4px;
    font-family: Quicksand;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: var(--prymeri-text);
}

.secendry-getgreat{
    width: 160px;
    padding: 0 16px 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(180deg, #ff7755 0%, #ff664b 100%);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    font-family: Suprema;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #fff;
    margin: 0px 13px;
    margin-bottom: 11px;
}

.secendry-shopping-nextbtn{
    height:168px;
    display: inline-block;
    vertical-align: top;
    color: #197BBD;
    font-size: 24px;
    padding: 72px 4px;
}

.cards-card, .transaction-history-card {
    font-family: Suprema;
    padding: 16px;
    width: 100%;
}

.cards-box {
    text-align: center;
    margin-top: 12px;
}

.cards-title {
    font-size: 20px;
    font-weight: 600;
}

.credit-card {
    width: 90%;
    height: 200px;
    margin: 0 auto;
    background: linear-gradient(180deg, #197BBD 0%, #3391D0 100%);
    border-radius: 26px;
}

.credit-card-arrows i {
    color: #197BBD;
}

.credit-card-arrows {
    padding-top: 74px;
    height: 100%;
}

.credit-card-arrows i::before {
    font-size: 42px;
}

.card-bottom-box {
    width: 75%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.card-progress {
    position: relative;
    height: 10px;
    margin-bottom: 10px;
    background-color: #F1F1F1;
    border-radius: 13px;
}

.card-progress-active {
    position: absolute;
    width: 30%;
    height: 10px;
    border-radius: 13px;
    background-color: #197BBD;
}

.card-bottom-box-left-text {
    text-align: left;
    font-size: 14px;
    color: #AEAEAE;
}

.card-bottom-box-right-text {
    text-align: right;
    font-size: 14px;
    color: #404040;
    font-weight: 600;
}

.divining-line-cards-card {
    height: 200px;
    border-right: 1px solid #E8E8E8;
}

.text-right {
    text-align: right;
}

.current-balance-number {
    font-family: Lato;
    color: #197BBD;
    font-size: 30px;
    font-weight: 700;
    margin: 0;
}

.current-balance, .income, .outcome {
    font-family: Suprema;
    color: #AEAEAE;
    margin-top: 4px;
    margin-bottom: 28px;
}

.current-balance-number-dollar {
    font-size: 20px;
}

.income-number {
    font-family: Lato;
    color: #439A86;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.outcome-number {
    font-family: Lato;
    color: #BB4430;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.toggle {
    background-color: #EBEBEB;
    width: 45px;
    height: 25px;
    margin-left: 76%;
    border-radius: 13px;
}

.toggle-circle {
    background-color: #CDCDCD;
    width: 19px;
    height: 19px;
    border-radius: 13px;
    transition: 0.6s;
    margin: 3px;
    position: absolute;
}

.bottom-toggle-text {
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 20px;
    margin-right: 7px;
    color: #AEAEAE;
}

.transaction-history-card {
    margin-top: 20px;
}

.transaction-history-card-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.transaction-history-table {
    width: 100%;
    text-align: left;
}

.transaction-history-table thead tr th {
    color: #AEAEAE;
}

.transaction-history-table th, .transaction-history-table td {
    padding: 10px;
}

.unactive-text {
    color: #C7C7C7;
}

.bold-text {
    font-weight: 700;
}

.transaction-history-table .bold-text {
    text-align: right;
}

.transaction-history-table-item td i::before {
    padding: 6px;
    border-radius: 6px;
    background-color: #EFEFEF;
    margin-right: 5px;
}

.secendry-newtrans-getgreat-container {
    display: flex;
    justify-content: end;
}